fastapi==0.132.0
motor==3.7.1
pymongo==4.16.0
pydantic==2.12.5
python-dotenv==1.2.1
python-multipart==0.0.22
uvicorn==0.41.0
numpy==2.4.2
opencv-python-headless==4.13.0.92
Pillow==12.1.1
PyMuPDF==1.27.1
doclayout_yolo==0.0.4
huggingface_hub
google-generativeai

